.videolisting-video-container{
    width: 20rem;
    margin: 0.5rem;
    border-radius: 0.1rem;
    cursor: pointer;
    background-color: var(--background-color-dark);
}
.videolisting-video{
    width: 100%;
    height: 100%;
}
.thumbnail-text-container{
    display: grid;
    grid-template-columns: 3.1rem auto;
    margin: 1rem 0.5rem;
}
.thumbnail-container{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 2.8rem;
    height: 2.8rem;
}
.text-container{
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0 1.5rem 0 0.3rem;
}
.video-title{
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.video-sub-title{
    opacity: 0.8;
    margin-top: 0.3rem;
    font-size: 0.9rem;
}
.video-more-icon{
    position: absolute;
    top: 0.3rem;
    right: -20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.video-modal{
    position: absolute;
    top: 1.9rem;
    right: -20px;
    width: max-content;
    background-color: var(--background-color);
    z-index: 2;
    
}
.video-modal-item{
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.video-modal-item:hover{
    background-color: var(--background-color-dark);
}
.video-modal-icon{
    margin-right: 10px;
    font-size: 1.2rem;
}
@media only screen and (max-width: 950px){
    .videolisting-video-container{
        width: 15rem;
        margin: 0.5rem;
    }
}
@media only screen and (max-width: 452px){
    .videolisting-video-container{
        width: 100%;
        margin: 1rem;
    }
}