body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
    --primary-color: #fd5056;
    --primary-color-dark: #f7343a;
    --secondary-color: #f3f4f5;
    --secondary-color-dark: #11134f;
    --background-color: #1e1e1e;
    --background-color-dark: #131313;
    --primary-text-color: #f3f4f5;
    --secondary-text-color: #fd5056;
}