.page-not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 2rem;
}
.not-found-image{
    max-width: 500px; 
    min-width: 200px;
}